<!DOCTYPE html>
<html>
<head>
  <title>Playlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- This will flash any errors called for throughout the site. -->
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


<% if current_user %>
  <form action='/users' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
  </form>
<% end %>
<%= yield %>

</body>
</html>
